@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 249, 246);
    color: rgb(32, 32, 32);
}

.font-island {
    font-family: 'Island Moments', cursive;
}

/* html {
    font-family: Nocturne, serif;
    src: local("Nocturne"),
    url(~/assets/fonts/NocturneSerif-Regular.ttf) format("truetype");
} */

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}

.page-leave-to {
opacity: 0;
    transform: translateY(-5px);
}

.page-enter-from {
opacity: 0;
    transform: translateY(5px);
}